body {
  display: block;
  margin: 0px;
}

#titlebar_wrapper {
  margin: 0px auto;
  padding: 10px 0px;
  width: 100%;
}

#titlebar {
  height: 30px;
  margin: auto;
  padding: 0 2em;
}

#titlebar p {
  text-align: right;
  margin: 0;
}

#logo {
  float: left;
}

#content {
  height: 100%;
  width: 100%;
  position: fixed;
  display: inline-flex;
}

#sidebar_left {
  width: 100%;
  min-width: 200px;
  height: 100%;
  position: relative;
}

#sidebar_left a {
  padding: 1em 2em;
  display: block;
}

#splash {
  max-width: 960px;
  min-width: 800px;
  height: 800px;
  text-align: center;
  padding: 15% 0;
}

#splash p {
  font-size: 20pt;
}

#page {
  max-width: 960px;
  min-width: 800px;
  height: 800px;
  text-align: center;
  padding: 60px 0;
  background-color: white;
}

#graph {
  /* Nothing here yet */
}

#sidebar_right {
  position: relative;
  background-color: #e4e4e6;
  color: #343435;
  width: 100%;
  min-width: 200px;
  height: 100%;
  text-align: right;
}

#sidebar_right a {
  padding: 2em;
  display: block;
}

#footer_wrapper {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#footer {
  width: 800px;
  padding: 1em 3em;
}

#footer a {
  color: white;
}

.center {
  margin: auto;
  padding: 0 3em;
}

.button {
  padding: 1em;
}
