.brown {
  background-color: #9f390d;
}

.gray {
  background-color: #343435;
}

.blue {
  background-color: #baecff;
}

#sidebar_left a {
  color: white;
}

/* 
 * brown: #9f390d
 * gray:  #343435
 * blue:  #baecff
 */
 