body {
  font-family: 'Open Sans', sans-serif;
}

#sidebar_left a {
  color: white;
  border-bottom: solid 1px #2e2e2e;
  padding: 1em;
  display: block;
}

.brown {
  background-color: #9f390d;
}

.gray {
  background-color: #343435;
}

.blue {
  background-color: #baecff;
}

/* 
 * brown: #9f390d
 * gray:  #343435
 * blue:  #baecff
 */
 